<!DOCTYPE html>

<html>

       

<head>
    <title>About</title>
     <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Irving Following a course on Udemy by Andrew Mead </p>
        <img class= "portrait"  src="/img/profile_pic.jpg">
    </div>
    {{>footer}}
</body>


</html>